.signupMain_container {
    display: flex;    
    justify-content: center;
    min-height: 100vh;    
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .loginpage{  
    background-image: url('../../Assets/Images/gallery11.jpg');
    background-size: cover; /* Adjust the image size to fit within the container */
    background-repeat: no-repeat;
    overflow: hidden;
   }

  h1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: "bold";
    margin-bottom: 8px;
  }

  .loginpage{
  
    background-image: url('../../Assets/Images/Background.png');
    background-size: cover; /* Adjust the image size to fit within the container */
    background-repeat: no-repeat;
    overflow: hidden;
   }
  

   .login_container{
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    max-width: 27rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 78px 90px;
    border-radius: 0.375rem;
    background-color: #fff;
    opacity: 0.8;
   }
   .text_container{
    font-weight: 600;
    height: 38px;
    border-radius: 7px;
   }
  
 
 .button_login{
    border-radius: 10px;
    border-width: 1px;
    height: 40px;
    border-color: #d1d5db;
    outline: none;
    font-weight: 700;
    background-color: #f1f3f5;

 }
 .button_login:hover{
    
  background-color: rgb(144, 8, 241);
  color: #fff;
 }
  
.signup_text{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.signuplink{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
 
  