@font-face {
  font-family: "Indie Flower", cursive;
  src: url("../Fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Vidaloka", serif;
  src: url("../Fonts/Vidaloka/Vidaloka-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Unna", serif;
  src: url("../Fonts/Unna/Unna-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}